// * {
//   border: 1px solid #000;
// }

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.main__container {
  font-family: "Kanit" sans-serif;

  width: 100%;
  &-landing {
    height: 100vh;
    width: auto;
    &--content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85%;
      padding: 20px;
      &--left {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // border: 1px solid #fff;
        color: #fff;
        padding: 20px;
        &--heading {
          font-size: 4.5rem;
          text-transform: capitalize;
        }
        .sub--main {
          font-size: 1rem;
          font-weight: 300;
          text-transform: capitalize;
        }
        .explore-more {
          margin-top: 2rem;
          width: fit-content;
        }
      }
      &--right {
        width: 50%;
        height: 100%;
      }
    }

    background-image: linear-gradient(
        to right top,
        rgba(0, 0, 0, 0.5) 100%,
        rgba(0, 0, 0, 0) 50%
      ),
      url("https://images2.alphacoders.com/546/thumb-1920-546678.jpg");

    background-size: cover;

    -webkit-filter: grayscale(10%);

    &--cover {
      height: 100%;
      width: 100%;
      background-size: cover;
    }
  }
  &-about {
    margin-top: 2rem;
    height: 100vh;
    display: flex;
    background-color: #f1f1f1;
    font-family: "Kanit", sans-serif;

    &--left {
      width: 60%;
      height: 100%;
      background-image: url("https://media.istockphoto.com/id/1178982949/photo/man-holding-blue-helmet-close-up.jpg?s=612x612&w=0&k=20&c=MyliIMUynBu6lsT8kh_9FvqBKoIUwWGg-iuoNippZPI=");
      background-size: cover;
      clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 42%);
      // -webkit-filter: grayscale(100%);
    }
    &--right {
      width: 40%;
      height: 100%;
      padding: 2rem;
      margin-right: 5rem;
      font-weight: 700;
      font-size: 2.5rem;
      margin-left: 2rem;
      .a {
        color: orangered;
      }
      .u {
        // color: orangered;
      }

      &--content {
        margin-top: 2rem;
        font-size: 1.15rem;
        font-weight: 300;
      }
      &--content-know-more {
        margin-top: 4rem;
        font-size: 1.15rem;
        font-weight: 600;
      }
    }
  }
  &-services {
    margin-top: 2rem;
    height: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    // background-color: #1d0000;
    padding: 2rem;
    color: #3c3c3c;

    // &--header {
    //   &:first-child {
    //     color: orangered;
    //   }
    // }
    // transform: skewY(-2deg);

    // & > * {
    //   transform: skewY(2deg);
    // }

    .con--items {
      height: 25rem;
      width: 50rem;
      text-align: center;
      background-color: #ffffff;
      box-shadow: 0rem 0.525rem 0.5rem rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      transition: 0.2s all;

      &:hover {
        box-shadow: 0rem 0.725rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }
    .con-items-text {
      font-size: 1rem;
      text-align: left;
      color: #464646;
      font-weight: 400;
      text-transform: capitalize;
      padding: 2rem;
    }
    .image--con {
      height: 60%;
      background: #e20404;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
      // background-image: url("https://wallpapers.com/images/featured/4k-nature-ztbad1qj8vdjqe0p.jpg");
      background-size: cover;
    }
    .image--1 {
      background-image: url("https://i.pinimg.com/originals/79/18/0c/79180c09a0f55fe08f3afb494cec3aee.jpg");
      background-size: cover;
    }
    .image--2 {
      background-image: url("https://cdn2.hubspot.net/hubfs/2389157/civil-engineering-MBA.jpg");
      background-size: cover;
    }
    .image--3 {
      background-image: url("https://www.apinterio.com/wp-content/uploads/2022/10/Wholesale-Modular-Furniture.jpg");
      background-size: cover;
    }
    .image--4 {
      background-image: url("https://www.estatedrive.co.in/wp-content/uploads/2023/07/571447897False-Ceiling-DesignMain.jpg");
      background-size: cover;
    }
    .text--con {
      color: orangered;

      margin-top: 0.5rem;
      padding: 0.25rem;
      height: 40%;
    }
    .btn-kw-service {
      display: flex;
      margin-top: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &--content {
      font-size: 1rem;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 3rem;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
  &-why-us {
    margin-top: 4rem;
    max-width: 100%;
    height: 100vh;

    // background-color: #ddd;
    // background-image: linear-gradient(
    //   to right bottom,
    //   rgb(228, 228, 228) 50%,
    //   rgba(0, 0, 0, 0.8) -400%
    // );
    background-image: linear-gradient(
      -35deg,
      transparent 0%,
      transparent 0%,
      #f7f7f7 10%
    );

    // url("https://wallpaperaccess.com/full/521099.jpg");
    background-size: contain;
    display: flex;
    &--left {
      width: 40%;
      height: 100%;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
      padding: 2rem;

      background-size: 100%;
      transition: all 0.2s;
      font-family: "Kanit", sans-serif;

      &:hover {
        background-position: 10%;
        // color: $;
        transform: translateX(1rem);
      }
      &--content {
        font-weight: 400;
        font-size: 1.25rem;
        text-transform: lowercase;
      }
      .para {
        margin-top: 2rem;
      }
      .kn-btn {
        margin-top: 4rem;
      }
    }
    &--right {
      width: 60%;
      height: 100%;
      background-image: url("https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-size: cover;
      // margin-right: 2rem;
      clip-path: polygon(
        100% 0,
        100% 7%,
        100% 35%,
        100% 70%,
        100% 99%,
        100% 100%,
        0 100%,
        0 100%,
        0 100%,
        24% 0
      );
    }
  }
  &-clients {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    margin-top: 4rem;
  }

  &-current-project {
    width: 100%;
    min-height: 100vh;
    // background-color: #ddd;
    margin-top: 4rem;
    margin-bottom: 4rem;
    &--projects-con {
      &:not(:last-child) {
        border-bottom: 2px solid white;
      }
    }
    .grid-con-pro {
      display: grid;
      grid-template-columns: 75% 25%;
      grid-template-rows: repeat(4, 1fr);
      height: 100%;
      width: 100%;
      row-gap: 0.5rem;
      // padding: 0 0.5rem;
      color: #fff;
      background-color: #0f0000;
    }
    .p--1 {
      width: 100%;
      height: 100%;
      grid-row: 1 / span 4;
      grid-column: 1;
      clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%, 0 100%, 0 100%, 0 42%);
      transition: all 0.2s;

      // background-image: url("https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      &:hover {
        transform: translateX(3rem);
      }
      .elem1-main {
        width: 100%;
        height: 100%;
      }
    }
    .p--2 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .p--2-items {
        font-size: 1.5rem;
      }
    }
    .p--3 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .p--3-items {
        font-size: 1.5rem;
      }
    }
    .p--4 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .p--4-items {
        font-size: 1.5rem;
      }
    }
    .p--5 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .p--5-items {
        font-size: 1.5rem;
      }
    }
    .currentpro {
      padding: 2rem;
      margin-bottom: 2rem;
    }
    .kn-btn--projects {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-footer {
    margin-top: 2rem;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    z-index: 10;
    // background-image: url("./landing-cover.jpg");
    background-size: cover;
    overflow: hidden;

    .vid-bg {
      // display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgb(0, 0, 0, 0.5);
      opacity: 1;
      z-index: -2;
      &__content {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -5;
      }
    }

    &--container {
      height: 25rem;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .item-ft {
      &:not(:last-child) {
        border-right: 1px dashed #fff;
      }
      padding: 1rem;
    }
    &--items--1 {
      width: 25%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main--logo {
        width: 10rem;
        height: 10rem;
        margin-bottom: 2rem;
      }
    }
    &--items--2 {
      width: 25%;
      height: 100%;
      text-align: center;
    }
    &--items--3 {
      width: 25%;
      height: 100%;
      text-align: center;
    }
    &--items--4 {
      width: 25%;
      height: 100%;
      text-align: center;
    }
    .em-head {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    .items--nav {
      list-style: none;
      font-family: "Kanit", sans-serif;
      font-size: 1.2rem;
      li {
        cursor: pointer;
        transition: all 0.2s;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        &:hover {
          color: #e20404;
        }
      }
    }
  }
}
